// COLORS
$color-primary: rgb(78, 112, 76);
$color-primary-lighten: rgb(119, 161, 117);
$color-secondary: grey;
$color-tertiary: whitesmoke;
$color-accent: lightgrey;
$color-backdrop: rgba(0, 0, 0, 0.75);
$color-error: rgb(128, 0, 0);
$color-error-lighten: rgba(204, 0, 0, 0.7);
$color-warning: rgb(255, 193, 7);
$color-warning-lighten: rgb(255, 215, 96);

// BORDER RADIUS
$border-radius: 0.3rem;

// BOX SHADOW
$box-shadow:
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

// DEVICE BREAKPOINTS
$small-breakpoint-max-width: 767px;
$medium-breakpoint-min-width: 768px;
$medium-breakpoint-max-width: 1023px;
$large-breakpoint-min-width: 1024px;
