@import 'variables';
@import 'utilities';
@import 'components/button';
@import 'components/table';
@import 'components/dialog';
@import 'components/card';
@import 'components/toggle';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.movie-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .movie-container-header {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    border-bottom: 1px solid whitesmoke;

    @media screen and (max-width: 767px) {
      padding: 0.3rem 1rem;
      display: none;
    }
  }

  .movie-container-body {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 767px) {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}
