.movie-card-container {
  width: 100%;
  height: 100%;
  background-color: yellow;
  box-sizing: border-box;
  overflow-y: auto;
  gap: 0.5rem;
  padding: 2rem;

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }

  .movie-card {
    width: 70%;
    height: 40%;
    overflow: hidden;
    border-radius: $border-radius;
    display: flex;
    background-color: $color-tertiary;
    box-shadow: $box-shadow;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 767px) {
      display: block;
      height: 80%;
      width: 100%;
    }

    .movie-card-img {
      @media screen and (min-width: 1024px) {
        width: 20%;
      }

      @media screen and (max-width: 767px) {
        height: 100%;
        z-index: -1;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .movie-card-details {
      flex: 1;
      background-color: $color-tertiary;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 2rem;
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $color-backdrop;
        color: $color-primary;
      }

      .movie-card-detail {
        display: flex;
        gap: 3rem;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          gap: 0.5rem;
        }

        .movie-card-detail-key {
          flex: 0;
          font-size: x-large;
          min-width: 200px;
        }

        .movie-card-detail-value {
          flex: 1;
          font-size: large;
          color: $color-backdrop;
          @media screen and (max-width: 767px) {
            color: $color-secondary;
          }
        }
      }
    }

    .movie-card-actions {
      display: flex;
      font-size: xx-large;
      position: absolute;
      right: 2rem;
      bottom: 0.5rem;
      color: white;

      @media screen and (max-width: 767px) {
        right: 0.5rem;
      }
    }
  }
}

.movie-add-button-card-case {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}
