.movie-card-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }

  .movie-card {
    width: 70%;
    flex: 0 0 30%;
    overflow: hidden;
    border-radius: $border-radius;
    display: flex;
    background-color: $color-tertiary;
    box-shadow: $box-shadow;
    position: relative;

    @media screen and (max-width: 767px) {
      display: block;
      flex: 0 0 80%;
      width: 100%;
    }

    .movie-card-img {
      @media screen and (min-width: $medium-breakpoint-min-width) and (max-width: $medium-breakpoint-max-width),
        screen and (min-width: 1024px) {
        width: 30%;
      }

      @media screen and (max-width: 767px) {
        height: 100%;
        z-index: -1;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .movie-card-details {
      flex: 1;
      background-color: $color-tertiary;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 2rem;
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $color-backdrop;
        color: $color-secondary;
      }

      .movie-card-detail {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          gap: 0.5rem;
        }

        .movie-card-detail-key {
          flex: 0;
          font-size: x-large;
          min-width: 200px;
          color: $color-secondary;
        }

        .movie-card-detail-value {
          flex: 1;
          font-size: large;
          word-wrap: break-word;
          color: $color-backdrop;
          @media screen and (max-width: 767px) {
            color: $color-accent;
          }
        }
      }
    }

    .movie-card-actions {
      display: flex;
      position: absolute;
      right: 2rem;
      bottom: 0.5rem;
      color: white;

      @media screen and (min-width: $medium-breakpoint-min-width) and (max-width: $medium-breakpoint-max-width),
        screen and (min-width: 1024px) {
        top: 0.5rem;
        right: 0.5rem;
        gap: 0.1rem;

        i {
          font-size: 1.5rem;
        }
      }

      @media screen and (max-width: 767px) {
        right: 0.5rem;

        button {
          font-size: 1.7rem;
          -webkit-tap-highlight-color: transparent;
        }
      }
    }
  }

  .movie-card-mobile-tap-info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: scale(1) translateX(-50%);
    background-color: $color-primary;
    padding: 0.5rem;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    font-size: 0.7rem;
    color: $color-tertiary;
    animation: pulse 2s infinite;
    opacity: 0.7;

    @media screen and (min-width: $medium-breakpoint-min-width) and (max-width: $medium-breakpoint-max-width),
      screen and (min-width: $large-breakpoint-min-width) {
      display: none;
    }
  }
}

.movie-add-button-card-case {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  width: 4rem;
  height: 4rem;
  font-size: xx-large;
  background-color: $color-primary;
  color: $color-tertiary;
  box-shadow: $box-shadow;

  &:hover {
    background-color: $color-primary-lighten;
  }

  @media screen and (min-width: $medium-breakpoint-min-width) and (max-width: $medium-breakpoint-max-width),
    screen and (max-width: $small-breakpoint-max-width) {
    display: none;
  }
}

.movie-add-button-small-screen {
  @media screen and (min-width: $large-breakpoint-min-width) {
    display: none;
  }
}
