@use 'sass:math';

.movie-table-container {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $color-tertiary;
  box-shadow: $box-shadow;

  .movie-table-data {
    flex: 1;
    position: relative;
    border-bottom: 1px solid $color-primary;

    table {
      width: 100%;
      border-spacing: 0;

      thead {
        th {
          background-color: $color-primary-lighten;
          border-bottom: 1px solid $color-secondary;
          color: $color-tertiary;
          height: 40px;
          width: 20%;
          text-align: center;
          font-size: 1.2rem;
        }
      }

      tbody {
        td {
          padding: 10px 0;
          height: math.div(100%, 21) * 20;
          text-align: center;
          border-bottom: 1px solid $color-primary;

          .movie-table-actions {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
          }
        }
      }
    }

    .movie-table-no-data {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      height: 2.5rem;
      width: 100%;
      border-top: 1px solid $color-primary;
    }
  }

  .movie-table-footer-actions {
    flex: 0;
    display: flex;
    justify-content: end;
    padding: 0.5rem 1rem;

    button {
      box-shadow: $box-shadow;
    }
  }
}
