.switch {
  display: inline-block;
  width: 65px;
  height: 34px;
  position: relative;

  @media screen and (min-width: $medium-breakpoint-min-width) and (max-width: $medium-breakpoint-max-width),
    screen and (max-width: $small-breakpoint-max-width) {
    display: none;
  }
}

.toggle-thumb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary-lighten;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: $box-shadow;

  i {
    &:first-child {
      margin-left: 0.4rem;
      font-size: 1.3rem;
      color: white;
    }
    &:last-child {
      margin-right: 0.4rem;
      font-size: 1.3rem;
      color: white;
    }
  }
}

.toggle-thumb:before {
  content: '';
  height: 26px;
  width: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: $color-primary;
  transition: 0.4s all ease;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked + .toggle-thumb:before {
  transform: translateX(31px);
}
